<div class="header">
  <div class="logo">
    <img src="/assets/Images/smartspider_words-and-spider.png">
  </div>
  <ul class="nav navbar-nav navbar">
    <li><a routerLink="">Search Professionals</a></li>
    <li><a routerLink="resume">Join Smartspider.net</a></li>
    <li><a routerLink="projects">About us</a></li>
    <li><a routerLink="blog">Contact</a></li>
  <img src="/assets/Images/facebook.jpg" class="social-logos">
  <img src="/assets/Images/linkedin.jpg" class="social-logos">
  <img src="/assets/Images/twitter.jpg"  class="social-logos">
  </ul>
</div>
<div class="footer">
  <p>This is the footer</p>
</div>

