.header {
	display: flex;
	flex-direction: row;
	align-content: center;
}

.icon-options {
	display: flex;
	flex-direction: row;
	align-content: center;
}

.links {
	display: flex;
	justify-content: space-around;
}

.main-block {
	display: flex;
	align-content: space-around;
}

.main-img {
	width: 100%;
}

.social-logos {
	height: 46px;
	width: 46px;
}

.spider-logo-bottom {
	padding-left: 35%;
	padding-right: 35%;
}

.sponsers {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
	padding-left: 25%;
	padding-right: 25%;
}



