
<img src="/assets/Images/main.jpg" alt="find.experts.simply" class="main-img">
<div class="main-block">
    <img src="/assets/Images/search-icon.png"><input name="search">	
</div>
<div class="icon-options">
	<div class="icon-img">
		<a routerLink="#"><img src="/assets/Images/business-icon157x128.png" alt="Business"></a>
		<a routerLink="#"><img src="/assets/Images/notprofit-icon138x112.png" alt="Non-profit"></a>
		<a routerLink="#"><img src="/assets/Images/lifestyle-icon138x112.png" alt="Lifestyle"></a>	
	</div>
	<div class="icon-text">
		<p>Business</p>	
		<p>Not-for-profit</p>
		<p>Lifestyle</p>		
	</div>
</div>
<div class="home-text">
	<p class="headline">Shouldn't you focus on what you do best?</p>
	<p>We each only get 24 hours in a day. 24 hours to make a living, stay healthy, enjoy a life. Doesn't it make sense to use your time wisely? SmartSpider.net is your resource to connect with experts in business, not-for-profit, and lifestyle. Our Pros can help augment your team in a surge season, advise you on taxes and finances, and help you develop and maintain a healthy lifestyle. In short, professionals can help you get more done and use your time wisely. THAT'S SMART!</p>
	<p class="headline">How does it work?</p>
	<p>Search our directory for professionals. All searches are FREE and you won't have to register or create an account. You can view profiles of all the Pros that meet your needs, and connect! All contracts and payments are PRIVATE - conducted between you and the professional. Use our connection site as often as you want to find experts to help you succeed at work and at home.</p>
	<p class="headline">More ways to connect with professionals</p>
</div>
<div class="calendar-link">
	<img src="/assets/Images/smartspidernet-calendar.png">
	<h1>Meet a pro</h1>
	<p>Event calender<p>
</div>
<div class="pro-link">
	<img src="/assets/Images/smartspidernet-speakersbureau.png">
	<h1>Book a pro</h1>
	<p>Book a SmartSpider.net consultant to speak to your group<p>
</div>
<img src="/assets/Images/main2.jpg" alt="find.experts.simply" class="main-img">
<div class="main-block">
    <img src="/assets/Images/search-icon.png"><input name="search">	
</div>
<h2>Let's get together!</h2>
<p>SmartSpider.net is serious about connecting clients with professionals. We host a variety of events so you can get to know one another face-to-face. Each year we host FREE consulting seminars, mixers, and expert panel events. Join us!</p>
<img src="/assets/Images/ask_a_pro_promo_fb_event_header.jpg" alt="Ask a pro">
<p>Ask a PRO is a FREE time of learning and connecting! Each month a panel of SmartSpider.net consultants offer their time to answer your questions and provide FREE expertise.
Ask a PRO
SmartSpider Monthly Mixer	
</p>
<p>SMARTMIXER, a new concept in connectivity. Appetizers, door prizes, cash bar.
November 8
Nativo Lodge
4:30 - 7:00 pm
RSVP
Questions? Email or Call 505.710.6484
</p>
<img src="/assets/Images/testimonial_4-100.jpg">
<img src="/assets/Images/main2.jpg" alt="find.experts.simply" class="main-img">
<div class="sponsers">
	<a href="http://loanfund.org/"><img src="/assets/Images/the-loan-fund.jpg" alt="The Loan Fund"></a>
	<a href="http://abqthemag.com/"><img src="/assets/Images/albuquerque-the-magazine.jpg" alt="Albuquerque the magazine"></a>
	<a href="http://www.brightideasstore.com/"><img src="/assets/Images/bright-ideas.jpg" alt="Bright Ideas"></a>
	<a href="http://bettermoneydecisions.com/"><img src="/assets/Images/better-money-decisions.jpg" alt="Better Money"></a>
	<a href="http://wilger.com/"><img src="/assets/Images/wilger-enterprises.jpg" alt="Wilger Enterprises"></a>
	<a href="http://fawnallencpa.com/"><img src="/assets/Images/fawn-allen-cpa.jpg" alt="Fawn Allen CPA"></a>
	<a href="http://farmersdaughters.tv/"><img src="/assets/Images/farmers-daughters.jpg" alt="Farmers Daughters"></a>
	<a href="http://evolv02.businesscatalyst.com/"><img src="/assets/Images/evolv-strong.jpg" alt="Evolv Strong"></a>
	<a href="https://www.thecornivore.com/"><img src="/assets/Images/the-cornivore.jpg" alt="The Cornivore">></a>
	<a href="http://keepitquerque.org/"><img src="/assets/Images/keep-it-querque.jpg" alt="Keep it Querque"></a>
	<a href="http://www.nativolodge.com/"><img src="/assets/Images/nativo-lodge.jpg" alt="Nativo Lodge"></a>
	<a href="http://www.officealternatives.com/"><img src="/assets/Images/office-alternatives.jpg" alt="Office Alternatives"></a>
	<a href="https://www.sage-accounting-bizresources.com/"><img src="/assets/Images/sage-accounting.jpg" alt="Sage Accounting"></a>
	<a href="http://www.scalonobhill.com/"><img src="/assets/Images/scalo.jpg" alt="Scalo"></a>
	<a href="http://www.tier-onepartners.com/"><img src="/assets/Images/tier-one-partners.jpg" alt="Tier One Partners"></a>
	<a href="http://www.jones-smithlaw.com/"><img src="/assets/Images/jones-and-smith.jpg" alt="Jones and Smith Law Firm"></a>
	<a href="https://www.edwardjones.com/financial-advisor/index.html?CIRN=IBILv9DWraDfM8Fb0wa6H4cNtyPZkf96T%2FER59ET7hDpMlk90fgLVLZlcMNbh9ak"><img src="/assets/Images/edward-jones.jpg" alt="Edward Jones"></a>
	<a href="https://www.linkedin.com/in/elizabeth-lucero-39b197b7"><img src="/assets/Images/elizabethlucero.jpg" alt="Elizabeth Lucero"></a>
	<a href="http://sparrowcreativestudio.com/mag/"><img src="/assets/Images/sparrow-creative-studio.jpg" alt="Sparrow Creative Studio"></a>
	<a href="http://swhrc.com/"><img src="/assets/Images/southwestern-hr.jpg" alt="Southwestern HR Consulting"></a>
	<a href="#"><img src="/assets/Images/worthnewyork.jpg" alt="Worth New York"></a>
</div>	

